.nav {
    grid-area: n;
    background-color: #edeef0;
    padding: 20px;
    border-radius: 5px;
}

.item a {
    height: 28px;
    line-height: 27px;
    color: #285473;
    text-decoration: none;
}

.item a.activeLink {
  font-weight: bold;
}