
.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.loginBlock {
    margin: 0 auto;
    width: 500px;
    height: 200px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

}
.loginFormBlock {
    text-align: center;
    padding-top: 50px;
}

.inputBlock{
    background: red;
}

.nameBlock {
    text-align: center;
    font-size: 25px;

}

.buttonLogin{
    width: 100px;
    background-color: #5181b8;
    border-radius: 3px;
    padding: 7px 16px 8px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-top: 15px;
}